@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;500;700;900&family=Bellefair&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  /* max-width: 100%; */
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Bellefair, Barlow Condensed */
.App {
  position: relative;
  overflow: hidden;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 3% 0 0;

  img {
    margin: 0px 50px 0 50px;
  }

  .whiteLine {
    width: 510px;
    border-bottom: 1px solid #979797;
    z-index: 1;
  }

  .headerBar {
    position: absolute;
    left: 620px;
    padding: 2% 0%;
    width: 820px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
  }

  nav {

    ul {
      display: flex;
      list-style-type: none;
      font-family: Barlow Condensed;

      span {
        color: white;
        margin-right: 7px;
        font-weight: bolder;
        font-size: 3.3vh;
      }

      li {
        margin-left: 10px;
        margin-right: 40px;
        font-size: 3.3vh;
      }
    }
  }
}

.link {
  text-decoration: none;
  color: #D0D6F9;
  padding: 0 0 5px 0;
  transition: .3s linear;
  animation-fill-mode: backwards;
  border-bottom: 0px solid #979797;

  &:hover {
    border-bottom: 2px solid #979797;
  }
}

.link3 {
  text-decoration: none;
  color: white;
  padding: 0 0 30px 0;
  transition: .3s ease-in-out;

  &:hover {
    border-bottom: 4px solid #979797;
  }
}

.home {
  background: url("./assets/home/background-home-desktop.jpg") center/cover no-repeat;
  min-height: 100vh;

  .explore {
    position: absolute;
    bottom: 100px;
    right: 80px;
    padding: 8% 4%;
    background: white;
    display: inline;
    border-radius: 50%;
    font-family: Bellefair Display;
    font-size: 5vh;
    font-weight: lighter;
    letter-spacing: 2px;
    cursor: pointer;
    animation-direction: reverse;
    transition: 1s linear;
    border: 1px solid white;

    &:hover {
      transition: 1s linear;
      border: 70px solid #979797;
      padding: 6% 2%;
      bottom: 60px;
      right: 40px;
    }
  }
}

// BALLS
.whiteballs {
  padding: 4% 0 0 0;
}

.link4 {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #32323A;
  border-radius: 50%;
  margin-right: 20px;
  position: absolute;
  transition: .3s;

  &:hover {
    background: #979797;
  }
}

.ball1 {
  bottom: 50px;
  left: 150px;
}

.ball2 {
  bottom: 50px;
  left: 185px;
}

.ball3 {
  bottom: 50px;
  left: 220px;
}

.ball4 {
  bottom: 50px;
  left: 255px;
}

// ---------------------
.destination {
  background: url("./assets/destination/background-destination-desktop.jpg") center/cover no-repeat;
  min-height: 100vh;
}

.travel {
  padding: 20% 0 0 10%;
  color: white;
  font-family: Barlow Condensed;

  h1 {
    font-size: 20vh;
    font-family: Bellefair DIsplay;
    font-weight: lighter;
    margin-bottom: -20px;
  }

  p {
    color: #D0D6F9;

    &:nth-of-type(1) {
      font-size: 5.5vh;
      margin-bottom: -30px;
    }

    &:nth-of-type(2) {
      width: 34%;
      font-size: 3vh;
    }
  }
}

.destination {
  padding: 13% 0 0 10%;

  span {
    color: grey;
    margin-right: 25px;
  }

  h2 {
    font-family: Barlow Condensed;
    color: white;
    font-weight: 500;
    font-size: 4vh;
  }
}

.planets {
  ul {
    display: flex;
    list-style-type: none;
    margin: 2% 0 0 47.5%;

    li {
      margin-right: 45px;
      font-family: Barlow Condensed;
      font-size: 3vh;
    }
  }
}

.destinationPlanet {
  display: flex;

  .planetLeft img {
    width: 400px;
  }

  .planetRight {
    margin: 0% 0 0 20%;

    hr {
      width: 63%;
      margin-left: 0px;
    }

    .planetRightTop {
      h1 {
        font-family: Bellefair Display;
        font-size: 14vh;
        letter-spacing: 3px;
        color: white;
        font-weight: lighter;
      }

      p {
        width: 65%;
        color: #D0D6F9;
        line-height: 30px;
        padding: 0 0 6% 0;
      }
    }

    .planetRightBottom {
      span {
        &:nth-of-type(1) {
          color: #D0D6F9;
          font-family: Barlow Condensed;
          font-size: 3vh;
        }

        &:nth-of-type(2) {
          font-size: 3vh;
          font-family: Barlow Condensed;
          color: #D0D6F9;
        }

        &:nth-of-type(3) {
          font-family: Bellefair Display;
          color: white;
          font-size: 5vh;
        }

        &:nth-of-type(4) {
          font-family: Bellefair Display;
          color: white;
          font-size: 5vh;
        }
      }
    }
  }
}

.customWidth {
  display: inline-block;
  width: 200px;
}

.crew {
  background: url("./assets/crew/background-crew-desktop.jpg") center/cover no-repeat;
  min-height: 100vh;
  padding: 12% 0 0 10%;

  span {
    margin-right: 5px;
    color: grey;
  }

  h1 {
    font-family: Barlow Condensed;
    color: white;
    font-weight: 400;
    font-size: 5vh;
    letter-spacing: 2px;
  }

  .crewMember {
    display: flex;

    .left {
      margin: 6% 0 0 0;

      h1 {
        font-family: Bellefair Display;
        font-size: 7vh;
      }

      p {
        &:nth-of-type(1) {
          color: grey;
          font-family: Bellefair Display;
          letter-spacing: 2px;
          font-size: 5vh;
        }

        &:nth-of-type(2) {
          width: 36%;
          color: #D0D6F9;
          line-height: 35px;
          font-size: 2.5vh;
        }
      }
    }

    .right {
      position: absolute;
      bottom: 0px;
      right: 100px;
    }
  }
}

.tech {
  background: url("./assets/technology/background-technology-desktop.jpg") center/cover no-repeat;
  min-height: 100vh;
  padding: 12% 0 0 10%;

  span {
    color: grey;
    margin-right: 5px;
  }

  h1 {
    color: white;
    font-family: Barlow Condensed;
    font-weight: 500;
    font-size: 5vh;
    letter-spacing: 2px;
  }

  .techNav {
    position: absolute;
    bottom: 100px;
    left: 100px;

    .ball {
      height: 100px;
      width: 100px;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-top: 30px;
      border: 1px solid grey;
      color: white;
    }
  }
}

.link2 {
  text-decoration: none;
  color: black;
  font-family: Bellefair Display;
  font-size: 5vh;
}

/* INVISIBLE */

.invisible {
  display: none;
}

.launch {
  position: relative;
  overflow: hidden;
  margin-left: 5%;

  .launchLeft {
    position: absolute;
    margin: 5% 0 0 5%;

    h1 {
      font-family: Bellefair Display;
      font-size: 8vh;
    }

    p {
      font-family: Barlow Condensed;
      color: #D0D6F9;

      &:nth-of-type(1) {
        letter-spacing: 1px;
        font-size: 3.5vh;
      }

      &:nth-of-type(2) {
        width: 47%;
        line-height: 35px;
        font-size: 2.8vh;
      }
    }
  }

  .launchRight {
    position: relative;
    right: -750px;
    top: -150px;
  }
}